@model IEnumerable<WorksViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employees With Projects They Are Work On</h1>
<br />
<br />
<a asp-controller="Work" asp-action="Create" class="btn btn-primary">Add New Employees</a>
<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(W => W.Employee)</th>
                <th>@Html.DisplayNameFor(W => W.Project)</th>
                <th>@Html.DisplayNameFor(W => W.NumOfHours)</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var work in Model)
            {
                <tr>
                    <td>@work.Employee.Name</td>
                    <td>@work.Project.Name</td>
                    <td>@work.NumOfHours</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5 alert alert-warning">
        <h3>There Is No Employees!</h3>
    </div>
}
